<manifest package="com.base.library"
          xmlns:android="http://schemas.android.com/apk/res/android"
    >


    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        >

        <activity
            android:name=".rxPermissions.ShadowActivity"
            android:theme="@style/AppTheme_bg_no"/>
    </application>


</manifest>
